<div *ngIf="isUserLoaded">
  <mat-card id="main">
    <mat-card-title>Information</mat-card-title>
    <div>
      <mat-card id="info">
        <mat-card-header>
          <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
          <mat-card-subtitle>{{ user.userName }}</mat-card-subtitle>
          <mat-card-subtitle>*info*</mat-card-subtitle>
          <mat-card-subtitle>*info*</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <br/>
      <mat-card id="restrictions">
        <mat-card-header>
          <mat-card-title>Diet</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-grid-list cols="2">
            <mat-grid-tile>
              <mat-grid-tile-header>Allergies</mat-grid-tile-header>
              <mat-selection-list dense>
                <mat-list-option>Allergy1</mat-list-option>
                <mat-list-option>Allergy2</mat-list-option>
              </mat-selection-list>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-grid-tile-header>Diet</mat-grid-tile-header>
              <mat-selection-list dense>
                <mat-list-option>Type1</mat-list-option>
                <mat-list-option>Type2</mat-list-option>
              </mat-selection-list>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</div>