<div *ngIf="isUserLoaded">
  <mat-card id="main">
    <mat-card-title>Information</mat-card-title>
    <div>
      <mat-card id="info">
        <mat-card-header>
          <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
          <mat-card-subtitle>{{ user.userName }}</mat-card-subtitle>
          <mat-card-subtitle>*info*</mat-card-subtitle>
          <mat-card-subtitle>*info*</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <br/>
      <mat-card id="restrictions">
        <mat-card-header>
          <mat-card-title>Restrictions</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="restrictionChoices">
            <h3>My Allergies</h3>
            <div 
              cdkDropList
              #selectedList="cdkDropList"
              [cdkDropListData]="user.allergies"
              [cdkDropListConnectedTo]="[allergyList]"
              class="restrictionsList"
              (cdkDropListDropped)="drop($event)">
              <div class="restrictionBox" *ngFor="let allergy of user.allergies" cdkDrag>
                {{ allergy.type }}
              </div>
            </div>
          </div>

          <div class="restrictionChoices">
            <h3>Allergies List</h3>
            <div
              cdkDropList
              #allergyList="cdkDropList"
              [cdkDropListData]="allergies"
              [cdkDropListConnectedTo]="[selectedList]"
              class="restrictionsList"
              (cdkDropListDropped)="drop($event)">
              <div class="restrictionBox" *ngFor="let allergy of allergies" cdkDrag>
                {{ allergy.type }}
              </div>
            </div>
          </div>
          <div class="updateChoices">
            <mat-card-actions>
              <button mat-raised-button (click)="updateProfile()" color="primary">Update</button>
            </mat-card-actions>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</div>