#content {
    width: 70%;
    float: left;
}

aside {
    width: 20%;
    margin: 1px;
    float: right;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    color:white;
    background-color: rgb(66, 66, 66);
}

nav a:visited, a:link {
    color:white;
}

nav a:hover {
    color: #039be5;
    background-color:lightgray;
}

nav a.active {
    color:white;
}

.dash {
    float: right;
    width: 250px;
    margin: 1px;
}