<fieldset>
  <legend>Create Event</legend>
  <form class="forms">
    <div class="box">
      <fieldset>
        <legend >Event Details</legend>
        <div class="form-group">
          <label for="eventName">Event name:</label><br/>
          <input type="text" class="form-control" id="eventName" required>
        </div>

        <div class="form-group">
          <label for="address">Address:</label><br/>
          <input type="text" class="form-control" id="address" required>
        </div>

        <div class="form-group">
          <label for="description">Description:</label><br/>
          <textarea name="description" class="form-control" id="description" cols="50" rows="10"></textarea>
        </div>
      </fieldset>

      <fieldset>
        <legend>Guest List</legend>
        <button>Add</button>
        <button>Clear</button>
      </fieldset>

      <fieldset>
        <legend>Invitation Message</legend>
        <div class="form-group">
          <textarea name="inviteMsg" class="form-control" id="inviteMsg" cols="50" rows="10"></textarea>
        </div>
      </fieldset>
    </div>
  </form>
</fieldset>