<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Your Food Preferences</h4>
                  </div>
                  <div class="card-body">
                        <mat-list>
                            <mat-list-item>
                                <h4 class="card-title">Shell Fish Allergy</h4>
                            </mat-list-item>
                            <mat-list-item>
                                <h4 class="card-title">Gluten Intolerance</h4>
                            </mat-list-item>
                            <mat-list-item>
                                <h4 class="card-title">Beef Intolerance</h4>
                            </mat-list-item>
                        </mat-list>
                  </div>
              </div>
          </div>
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Hosting Events</h4>
                  </div>
                  <div class="card-body">
                        <mat-nav-list>
                            <a href="#">
                                <mat-list-item>
                                    <h4 class="card-title">Brider's Dinner Party</h4>
                                    <mat-icon matListIcon>stars</mat-icon>
                                </mat-list-item>
                            </a>
                            <a href="#">
                                <mat-list-item>
                                    <h4 class="card-title">Bridger's BBQ</h4>
                                </mat-list-item>
                            </a>
                        </mat-nav-list>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Attending Events</h4>
                    </div>
                    <div class="card-body">
                        <mat-nav-list>
                            <a href="#">
                                <mat-list-item>
                                    <h4 class="card-title">Billy's BBQ</h4>
                                </mat-list-item>
                            </a>
                            <a href="#">
                                <mat-list-item>
                                    <h4 class="card-title">Tina's Dinner Party</h4>
                                </mat-list-item>
                            </a>
                            <a href="#">
                                <mat-list-item>
                                    <h4 class="card-title">Smith Family Brunch</h4>
                                </mat-list-item>
                            </a>
                            <a href="#">
                                <mat-list-item>
                                    <h4 class="card-title">Billy's Dinner Party</h4>
                                </mat-list-item>
                            </a>
                        </mat-nav-list>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Public Events</h4>
                    </div>
                    <div class="card-body">
                        <mat-nav-list>
                            <a href="#">
                                <mat-list-item>
                                    <h4 class="card-title">Public Event 1</h4>
                                </mat-list-item>
                            </a>
                            <a href="#">
                                <mat-list-item>
                                    <h4 class="card-title">Public Event 2</h4>
                                </mat-list-item>
                            </a>
                            <a href="#">
                                <mat-list-item>
                                    <h4 class="card-title">Public Event 3</h4>
                                </mat-list-item>
                            </a>
                            <a href="#">
                                <mat-list-item>
                                    <h4 class="card-title">Public Event 4</h4>
                                </mat-list-item>
                            </a>
                        </mat-nav-list>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
