<div id="head">
    <mat-toolbar id=#toolbar color="primary">{{ title }}</mat-toolbar>
    <!--<app-create-account></app-create-account> -->
    <nav>
        <mat-button-toggle routerLink="/profile">Profile</mat-button-toggle>
        <mat-button-toggle routerLink="/create-event">Create Event</mat-button-toggle>
    </nav>
</div> 
<div id=#page>
    <div class="outlet">
        <router-outlet></router-outlet>
    </div>
    <div class="side">
        <mat-card id="sidebar">
            <mat-card-title>Current Events</mat-card-title>
            <app-dashboard id="events"></app-dashboard>
        </mat-card>
    </div> 
</div>

