#head {
    text-align: center;
}

#page {
    display: inline-block;
    max-width: 100%;
    margin: 0 25px 25px 0;
    vertical-align: top;
}

.outlet {
    width: 77%;
    max-width: 80%;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
}

.side {
    width: 23%;
    max-width: 20%;
    display: inline-block;
    vertical-align: top;
    padding: 5px 10px;
}
/* 
nav mat-button-toggle {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    color:white;
    background-color: rgb(66, 66, 66);
}

nav mat-button-toggle:visited, a:link {
    color:white;
}

nav mat-button-toggle:hover {
    color: #039be5;
    background-color:lightgray;
}

nav mat-button-toggle.active {
    color:white;
} */