<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<div class="container login-card" *ngIf="!authService.isLoggedIn">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Email"
            class="form-control"
            formControlName="userName">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password"
            class="form-control"
            formControlName="password">
        </mat-form-field>
        <div id="gSignInWrapper" style="margin-bottom: 20px; text-align: center">
          <div id="customBtn" class="customGPlusSignIn">
            <span class="icon"></span>
            <span (click)="googleSSO()" class="buttonText">Google</span>
          </div>
        </div>
        <div style="text-align: center">
          <button mat-raised-button 
            type="submit" 
            [disabled]="!loginForm.valid"
            class="btn btn-primary">Login
          </button>
          <a routerLink="/register" class="btn btn-link">Register</a>
          <button (click)="googleSSO()">Google</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
<router-outlet *ngIf="authService.isLoggedIn"></router-outlet>