<div>
  <mat-card id="main">
    <mat-card-title>Create Event</mat-card-title>
    <div>
      <br/>
      <mat-accordion>
        <mat-expansion-panel id="detail">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Event details
            </mat-panel-title>
            <mat-panel-description>
              Enter event information
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field appearance="outline">
            <mat-label>Event name</mat-label>
            <input matInput placeholder="Event name">
          </mat-form-field>
          <br/>

          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address">
          </mat-form-field>
          <br/>

          <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <br/>

          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description"></textarea>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
      <br/>

      <mat-card id="guestList">
        <mat-card-header>
          <mat-card-title>Guest List</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <button mat-raised-button>Modify</button>
          <button mat-raised-button>Clear</button>
        </mat-card-content>
      </mat-card>
      <br/>

      <mat-card id="inviteMsg">
        <mat-card-header>
          <mat-card-title>Invitation Message</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>
            <textarea id="msg" matInput placeholder="Leave a message"></textarea>
          </mat-form-field>
          <br/>
          <mat-checkbox>Guests can invite guests?</mat-checkbox>
          <br/>
          <mat-checkbox>Attach guest list to invitation?</mat-checkbox>
        </mat-card-content>
      </mat-card>

      <div id="save">  
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </div>
  </mat-card>
</div>